:root{
    --hover:#821110;
    --red:#B91817;
    --grey1:#EEEEEE;
    --grey2:#B3B3B3;
    --black:#111111;
    --box-shadow: 0 10px 30px rgba(0,0,0,.25);
    --border: 1px solid rgba(224,224,224,.2);
}

* {
    color: #111111;
    font-size: 15px;
    padding: 0; margin: 0;
    box-sizing: border-box;
    border: none; outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100vw;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header-one {
    background-color: var(--black);
    height: 40px;
    padding: 7.5px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-two {
    background-color: white;
    height: 50px;
    padding: 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.rrss button {
    background-color: var(--red);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.rrss button:hover{
    background-color: var(--hover);
}

.rrss button i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    gap: 5px;
}

.search-bar input{
    width: 200px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,.25);
}

.search-bar button{
    background-color: var(--red);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.search-bar button:hover{
    background-color: var(--hover);
}

.search-bar button i{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    cursor: pointer;
}

.logo i{
    color: var(--red);
    font-size: 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li a{
    padding: 5px;
    display: block;
}

.fa-angle-down{
    color: var(--black);
}

nav{
    display: inline-flex;
}

.nav-bar li a:hover {
    background-color: var(--red);
    color: white;
}

.nav-bar ul ul{
    position: absolute;
    background-color: #414141;
    width: 99px;
    display: none;
}

.nav-bar ul li ul li{
    position:relative;
    border-bottom: 1px solid white;
}

.nav-bar ul li ul li a{
    color: white;
}

.nav-bar li:hover > ul {
    padding: 0; margin: 0;
    display:block;
}

#open, #close{
    display: none;
}

.Home{
    height: 100vh;
}

.home-box{
    height: 100%;
    background-image: url(../Images/FondoBlanco1.jpeg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content{
    flex-wrap: wrap;
}

.home-content span{
    font-size: 30px;
}

.home-content h2{
    font-size: 50px;
}

.home-content p{
    font-size: 20px;
}

.btn{
    background-color: var(--red);
    font-size: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    text-align: center;
}

.btn a, i{
    color: white;
}

.btn:hover{
    background-color: var(--hover);
}

section{
    scroll-margin-top: 90px;
}

.History, .Card, .Recipes, .Products, .Blog, .Contact, .Newsletter, footer{
    padding: 50px 100px;
}

.Card, .Blog{
    background-color: var(--black);
}

.Recipes{
    background-color: var(--grey1);
}

.Products, .Newsletter{
    background-color: var(--hover);
}

footer{
    background-color: var(--black);
}

.heading{
    color: var(--red);
    font-size: 35px;
    padding-bottom: 15px;
    text-align: center;
}

.heading2{
    color: white;
    font-size: 35px;
    padding-bottom: 15px;
    text-align: center;
}

.sub-heading{
    font-size: 25px;
    text-align: center;
}

.sub-heading2{
    color: white;
    font-size: 25px;
    text-align: center;
}

.container-history, .container-card, .container-recipes, .container-products, .container-blog, .box-contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.box-history, .box-products{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.box-history img, .box-products img{
    width: 100%;
}

.box-history span{
    color: var(--red);
    font-weight: bold;
}

.box-card{
    background-color: white;
    width: 125px;
    padding: 0px 12.5px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-card img{
    width: 100px;
}

.box-card:hover{
    background-color: var(--red);
}

.box-recipes{
    background-color: white;
    width: 250px;
    padding: 12.5px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-recipes img{
    width: 225px;
}

.box-recipes h4{
    font-size: 20px;
    margin-top: 10px;
}

.box-recipes:hover{
    transform: translateY(-2.5%);
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

.box-products p{
    color: white;
}

.box-products span{
    color: white;
    font-weight: bold;
}

.box-blog{
    background-color: white;
    width: 350px;
    padding: 12.5px;
    border-radius: 10px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    text-align: center;
}

.box-blog .icons-blog{
    position: relative;
}

.box-blog .img-blog{
    width: 325px;
    height: 225px;
    overflow: hidden;
    display: flex;
    object-fit: cover;
}

.box-blog .img-blog img{
    width: 100%;
    height: 100%;
    transition: 1s ease;
    object-fit: cover;
}

.box-blog .img-blog img:hover{
    transform: scale(1.25);
}

.box-blog .calendar {
    position: absolute;
    background-color: white;
    font-weight: bold;
    top: 10px; left: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

.box-blog .heart{
    position: absolute;
    background-color: white;
    font-weight: bold;
    top: 10px; right: 10px;
    padding: 5px 10px;
    border-radius: 50%;
}

.fa-calendar-days, .fa-heart, .fa-tag{
    color: var(--red);
}

.box-blog .heart:hover{
    background-color: var(--black);
}

.box-blog p{
    text-align: left;
}

.box-blog h4{
    color: var(--red);
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
}

.Contact{
    background-image: url(../Images/FondoBlanco1.jpeg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: white;
    width: 760px;
    padding: 20px;
    border: var(--border);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.box-contact input, textarea {
    background-color: var(--grey1);
    width: 350px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
}

.box-contact textarea, iframe {
    width: 350px;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.container-newsletter{
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-newsletter > .btn{
    margin-top: 0px;
}

.container-newsletter input{
    width: 630px;
    height: 30px;
    padding-left: 5px;
    border: 1px solid rgba(0,0,0,.25);
}

footer{
    color: white;
}

.container-footer{
    gap: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box-footer{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.box-footer p{
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
}

.box-footer a{
    color: var(--grey1);
}

.box-footer i{
    color: var(--red);
}

.rrss2{
    margin: 10px 0px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rrss2 button {
    background-color: var(--red);
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.rrss2 button:hover{
    background-color: var(--hover);
}

.rrss2 button i{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.credit{
    color: #414141;
    text-align: center;
}

.credit span{
    color: #414141;
    font-weight: bold;
    text-align: center;
}

/* Media Queries */

@media (max-width:1325px){

    .header-one, .header-two{
        padding: 0px 25px;
    }

    .search-bar input{
        display: none;
    }

    .nav{
        opacity: 0;
        visibility: hidden;
        position: absolute;
        background-color: var(--grey2);
        top: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        width: 200px;
        padding: 10px;
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 5px;
    }

    .nav.visibility{
        opacity: 1;
        visibility: visible;
        z-index:1000;
    }

    #close{
        background-color: var(--red);
        padding: 5px 10px;
        display: block;
    }

    #open{
        background-color: white;
        color: var(--red);
        width: 25px;
        height: 25px;
        display: block;
    }

    .home-content{
        padding: 15px;
        text-align: center;
    }
    
    .home-content span{
        font-size: 25px;
    }
    
    .home-content h2{
        font-size: 35px;
    }
    
    .home-content p{
        font-size: 15px;
    }

    .History, .Card, .Recipes, .Products, .Blog, .Contact, .Newsletter, footer{
        padding: 15px 25px;
    }

    .container-history, .container-card, .container-recipes, .container-products, .container-blog, .container-newsletter, .container-footer{
        justify-content: space-evenly;
        gap: 15px;
    }

    form{
        width: 350px;
    }

    .box-contact{
        justify-content: space-evenly;
    }

    .box-contact input, textarea, iframe{
        width: 310px !important;
    }

    footer{
        text-align: center;
    }

}
